@font-face{
    font-family: 'Norse Bold';
    src: url('Norse-Bold.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
}

.document{
    display: flex;
    height: 130%;
}
.sidebar{
    width: 50%;
    background-image: url(background.jpg);
    background-size: cover;
    position: relative;
}

.logo{
    padding: 0.5rem 0;
    position: absolute;
    top: 12rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Norse Bold', sans-serif;
    font-size: 4rem;
    color: white;

    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.logo img{
    height: 6rem;
    width: auto;
}

.content{
    width: 100%;
    background-color: #F9FAFB;
}

.caption{
    margin: 8rem 0 4rem 3rem;
    max-width: 72ch;
}

.form{
    background-color: white;
    padding: 2rem 0 2rem 3rem;
}


.form-row{
    display: flex;
    gap: 4rem;
}

label {
    display: block;
}

input{
    width: 250px;
    border: 1px solid #E5E7EB;
    line-height: 1.5;
    border-radius: 2px;
}

input:invalid{
    border: 1px solid red;
}

input:focus{
    outline: none;
    border: 2px solid blue;
}
.button{
    padding: 2rem 3rem;
}

.create-account{
    background-color: #596D48;
    color: white;
    border-radius: 0.4rem;
    padding: 1rem 3rem;
    font-size: large;
    font-weight: bold;
    margin-bottom: 2rem;
}

.button a{
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

